<% if obj.errors.any? %>

<div class="alert alert-danger" role="alert">


    <h2>
    <% if obj = @article %>
    <%= pluralize(obj.errors.count,'error')%> prohibited article from being saved
    <% elsif obj = @category %>
    <%= pluralize(obj.errors.count,'error')%> prohibited category from being saved
    <% else obj = @user %>
    <%= pluralize(obj.errors.count,'error')%> prohibited user from being signup
    <% end %>
    </h2>
    <ul class="alert-link">
        <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>


</div>

<% end %>