<div class="center jumbotron">
  <h1 class="display-4">Home Page</h1>
  <p class="lead">This is a simple hero unit.</p>
  <hr class="my-4">
  <p>Sign up to discover new world of RUBY</p>
  <%= link_to "Sign Up", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>

