<div class="container">
    <footer class="footer">
        <small>
         Copyright &copy; <a href="https://faizanfsdev.netlify.app">Faizan's Portfolio</a> and have a look on <a href="https://github.com/FaizanFSDEV">GitHub Profile</a>
        </small>
    </footer>
</div>